SIMPLE_HYPER_HOST=0.0.0.0
SIMPLE_HYPER_PORT=8787
SIMPLE_HYPER_COMMAND_TIMEOUT=300
SIMPLE_HYPER_MAX_COMMAND_LENGTH=240
# Optional HTTPS.
# SIMPLE_HYPER_TLS_CERT=/etc/simple-hyper/cert.pem
# SIMPLE_HYPER_TLS_KEY=/etc/simple-hyper/key.pem
